{% extends 'rango/base.html' %}

{% block title %} Index {% endblock %}
{% block body_block %}
<div class="hero-unit">
	<h1>Ready to Rango</h1>
	<p>Find, Add, Share and Rango useful links and resources.</p>
</div>
<div class="row-fluid">
	<div class="span6">
		<h2>Top Five Categories</h2>
		{% if categories %}
	   <ul>
			{% for category in categories %}
        	<li> <a href = "/rango/category/{{ category.url }}"> {{ category.name }} </a> </li>
        	{% endfor %}
	   </ul>
        {% else %}
         <strong> There are no categories present...</strong>
        {% endif %}
</div>  
{% endblock %}